body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: white;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgb(27, 96, 160);
}

img {
  width: 250px;
  border-radius: 10px;
}
