body {
  /* background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

h1 {
  color: white;
  margin-top: 20px;
  background-color: rgba(43, 66, 196, 0.8);
  padding: 5px;
  border-radius: 5px;
}

img {
  width: 250px;
  border-radius: 10px;
}

pre {
  background-color: lightgrey;
  border: solid 1px gray;
  border-radius: 5px;
}
